extends layout 

block layout-content
  div.Header
    h1.Banner Whippy Kia Yeah !!
    div.Message 
      div.Title
        h1 In the Beginning ....
          p#1-t This is being served to port 8000 via express-node server
           <br><br>We have browser-sync serving static html on port 3000.
           div.Button#b-0 
             a(href="https://evolvedsolution.com") 
               div.Button#b-0 Ring Bell!! 
          p What is MY LIFE?
            div.linker xvc
              a(href=".link") xvc


  div.link(style="min-height:4000px;") Clicky Me!!
            