extends layout 

block layout-content
  div.Header
    h1.Banner Whippy Kia Yeah !!
    div.Message 
      div.Title
        h1 In the Beginning ....
          p#1-t Hello John, great to hear back finally. How goes the war? When is the time about fac?
           <br><br>Hell no and yes because, there is no way.
           div.Button#b-0 
             a(href="https://evolvedsolution.com") 
                div.Button#b-0 Ring Bell!!  